{% extends 'base.html' %}
{% block title %} Get Started! {% endblock %}
{% block content %}
    <style>
        body {
            background-color: #080710;
            filter: alpha(opacity=50);
        }
        .vl {
            border-left: 6px solid #ffffff;
            height: 200px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 20%;
        }
        input[type=submit] {
            background-color: #238d0c;
            border: none;
            border-radius: 12px;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            {#margin-left: 45%;#}
            cursor: pointer;
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
        }


    </style>
    <h2 style = 'color: #ffffff; text-align: center'>You have to Log in First!</h2>
    <h3 style = 'color: #ffffff; position: absolute; left: 15%; top: 20%'>Already Have an Account?</h3>
    <form action="login">
        <input type="submit" value="Login" style="position: absolute; left: 23%; top: 30%">
    </form>


    <h3 style = 'color: #ffffff; position: absolute; left: 60%; top: 20%'>New User? You Have to Create an Account.</h3>
    <form action="signup">
        <input type="submit" value="SignUp" style="position: absolute; left: 73%; top: 30%">
    </form>
    <div class="vl"></div>
{% endblock %}