{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
    <style>
        body {
                background-color: #080710;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                color: #ffffff;
            }
        .content-container {
            max-width: 30%;
            margin: 5% auto;
            padding: 20px;
        }
    </style>


    <div class = 'container content-container'>
        <h1> Change Password. </h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info">Confirm</button>
        </form>
    </div>
{% endblock %}